name: Node.js CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Create .env file
        run: |
          echo "MONGO_DB_URL=${{ secrets.MONGO_DB_URL }}" > .env

      - name: Build (if present)
        run: npm run build --if-present

      - name: Run tests (if you have tests)
        run: npm test --if-present
