name: Node.js CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          # removed: cache: npm

      - name: Install dependencies
        run: npm install

      - name: Create .env file
        run: echo "MONGO_DB_URL=${{ secrets.MONGO_DB_URL }}" > .env

      - name: Build (if present)
        run: npm run build --if-present

      - name: Test (if present)
        run: npm test --if-present
